---
name: integration-test
permissions: {}
on:
  push:
    branches: [main]
  pull_request: {}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3

    - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3
      with:
        go-version: 1.20.1
    - run: go build -o /usr/local/bin/tfmigrator ./cmd/tfmigrator

    - uses: aquaproj/aqua-installer@928a2ee4243a9ee8312d80dc8cbaca88fb602a91 # v2.2.0
      with:
        aqua_version: v2.21.0
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - run: terraform init
      working-directory: examples/example1
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - run: terraform apply -auto-approve
      working-directory: examples/example1
    - run: tfmigrator run -dry-run main.tf
      working-directory: examples/example1
    - run: tfmigrator run main.tf
      working-directory: examples/example1
    - run: terraform plan
      working-directory: examples/example1
    - run: terraform state list
      working-directory: examples/example1
    - run: git diff .
      working-directory: examples/example1
