---
name: integration-test
permissions: {}
on:
  push:
    branches: [main]
  pull_request: {}
jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5.1.0
      with:
        go-version: 1.22.5
    - run: go build -o /usr/local/bin/tfmigrator ./cmd/tfmigrator

    - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
      with:
        aqua_version: v2.37.1
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - run: terraform init
      working-directory: examples/example1
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - run: terraform apply -auto-approve
      working-directory: examples/example1
    - run: tfmigrator run -dry-run main.tf
      working-directory: examples/example1
    - run: tfmigrator run main.tf
      working-directory: examples/example1
    - run: terraform plan
      working-directory: examples/example1
    - run: terraform state list
      working-directory: examples/example1
    - run: git diff .
      working-directory: examples/example1
