---
name: integration-test
permissions: {}
on:
  push:
    branches: [main]
  pull_request: {}
jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

    - uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
      with:
        go-version: 1.22.5
    - run: go build -o /usr/local/bin/tfmigrator ./cmd/tfmigrator

    - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
      with:
        aqua_version: v2.33.0
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - run: terraform init
      working-directory: examples/example1
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - run: terraform apply -auto-approve
      working-directory: examples/example1
    - run: tfmigrator run -dry-run main.tf
      working-directory: examples/example1
    - run: tfmigrator run main.tf
      working-directory: examples/example1
    - run: terraform plan
      working-directory: examples/example1
    - run: terraform state list
      working-directory: examples/example1
    - run: git diff .
      working-directory: examples/example1
